*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: black;
}

.button{
    background-color: #4D7298;
    width: 90px;
    height: 40px;
    margin: 0px 32px 3px 45px;
    border-radius: 3px;
    text-align: center;
    color: white;
    border-color: rgb(75, 75, 161);
}

.main{
    width: 695px;
    height: 80px;
    background-color: white;

    
    padding-top: 20px;
    text-align: center;
    margin:auto;
    margin-top: 250px;
    border-radius: 10px;
    
    
}