@import url(pagemain.css);
@import url(header.css);

*{
    margin: 0px;
    padding: 0px;
    background-origin: padding-box;
}


body{
    width: 1920px;
    height: 840px;
    margin: 0 auto;
}