@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Inconsolata:wght@200..900&family=Nanum+Myeongjo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
main{
    width: 1920px;
    height: 840px;
    margin: 0 auto;
}
button{
    width: 270px;
    height: 130px;
    padding: 20px 60px;
    border: 1px dashed red;
}


.main-header-1 p{
    width: 540px;
    height: 41px;
    display: flex;
    text-align: center;
    color:#333333;
    margin-left: 900px;
    margin-top: 100px;
    font-size: 21px;
    font-family: "Roboto", sans-serif;
}

.main-header-2 h2{
    width: 540px;
    height: 41px;
    display: flex;
    font-size: 30px;
    text-align: center;
    /* margin-top: px; */
    margin-left: 780px;
    font-family: "Noto Serif";
}

.container{
    width: 1110px;
    margin-left: 405px;

}

.containers-button{
    display: flex;
    margin-top: 60px;
    gap: 18px;
}

.main-photo{
    margin-top: 55px;
}

.main-photo-child1{
    display: flex;
    gap: 26px;
}

.main-photo-child2{
    display: flex;
    gap: 26px;
    margin-top: 30px;
}

/* main-description---------------------------------------------- */

.main-description{
    width: 1920px;
    height: 541px;
    margin: 0 auto;
    background-image: url(../images/main-bg.jpg);
    margin-top: 120px;
}

.main-description-child1{
    text-align: center;
    font-size: 21px;
    color: white;
    padding-top: 100px;
    font-family: "Roboto", sans-serif;
    font-weight: 400px;
}

.main-description h2{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: "Noto Serif";
    padding-top: 15px;
}

.main-description-child2{
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    width: 730px;
    height: 100px;
    padding-top: 45px;
    color: white;
    margin-left: 595px;
    font-family: "Roboto", sans-serif;

}

.main-description-button{
    width: 224px;
    height: 51px;
    border:  1px solid black;
    margin-left: 848px;
    margin-top: 60px;
    padding: 9px 35px 15px 35px;
}
.main-description-button p{
    width: 154px;
    height: 21px;
    text-align: center;
    font-weight: 500px;
    font-size: 22px;
    gap: 10px;
    color: #333333;
    font-family: "Roboto", sans-serif;

}


/* main-photo-2------------------------------------------------------- */

.main-photo-2{
    width: 1110px;
    height: 626px;
    margin-left: 405px; 
    margin-top: 120px;
}

.main2-header-1{
    width: 350px;
    height: 29px;
    text-align: center;
    color:#333333;
    margin-left: 385px;
    font-size: 21px;
    font-family: "Roboto", sans-serif;
}

.main2-header-2 h2{
    width: 1110px;
    height: 41px;
    display: flex;
    text-align: center;
    margin-top: 44px;
    margin-left: 200px;
    font-family: "Noto Serif";
    font-weight: 700px;
    font-size: 30px;
}

.main2-photo-child{
    margin-top: 60px;
    text-align: center;
}

.main2-photo-child img{
    width: 350px;
    height: 370px;
 
}

.main2-photo-child-button{
    width: 255px;
    height: 51px;
    margin-left: 427px;
    margin-top: 60px;
    background-color: #333333;
    color: white;
    border: 1px solid black;
}








