*{
    margin: 0px;
    padding: 0px;
    background-origin: padding-box;
}

.container{
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 50px;
}

.qosh{
    background-color: blue;
    color: white;
    width: 50px;
    height: 30px;
    display: block;
    margin-left: 200px;
}

.button{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

h3{
    margin-top: 10px;
}