<div class="user-details-card">
    <div class="form-group">
        <input type="number" class="form-control" placeholder="Enter ID" [(ngModel)]="myId">
        <button class="btn btn-success" (click)="getById()">Find User</button>
    </div>

    <div *ngIf="user" class="user-card">
        <div class="user-info">
            <span class="info-label">Full Name:</span>
            <span>{{ user.fullName }}</span>
        </div>
        <div class="user-info">
            <span class="info-label">Email:</span>
            <span>{{ user.email }}</span>
        </div>
        <div class="user-info">
            <span class="info-label">Role:</span>
            <span>{{ user.role }}</span>
        </div>
    </div>

    <div *ngIf="!user" class="not-found">
        <h1>Athlete Not Found</h1>
    </div>
</div>
