table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 50px;
  text-align: center;
}

.row1{
    background-color: rgb(77, 138, 77);
}

.row2{
    background-color:bisque;
}

.row3{
    background-color: red;
}

.row4{
    background-color:chocolate;
}

.row5{
    background-color: blue;
}

.row6{
    background-color:brown;
}

.row7{
    background-color: cornflowerblue;
}

.row8{
    background-color:gray;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }