*{
    margin: 0px;
    padding: 0px;
    background-origin: padding-box;
}

.main{
    padding-left: 600px;
    padding-top: 300px;
}

button{
    width: 60px;
    height: 20px;
}

.check{
    padding-left: 130px;
    padding-top: 20px;
}

.random{
    padding-left: 130px;
    padding-bottom: 20px;
}