@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Inconsolata:wght@200..900&family=Nanum+Myeongjo&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.tanla{
    margin-top: 100px;
    width: 1110px;
    height: 34px;
    margin-left: 405px;
    display: flex;
    gap: 45px;
}

.tanla-child{
    width: 160px;
    height: 34px;
    display: flex;
    border-bottom: 1px solid gray;
    font-weight: 400px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;

}

.main-photo{
    width: 1110px;
    height: 439px;
    margin-top: 60px;
    margin-left: 405px;
    display: flex;
    gap: 32px;
}

.main-photo-child{
    width: 350px;
    height: 439px;
    background-color: black;
}

.main-photo div{
    width: 33%;
}

.photo-hr{
    width: 1110px;
    color: #333333;
    margin-left: 405px;
    margin-top: 150px;
}


.main-photo2{
    width: 1110px;
    height: 439px;
    margin-top: 60px;
    margin-left: 405px;
    display: flex;
    gap: 32px;
}

.photo-low-button{
    width: 227px;
    height: 51px;
    margin-top: 150px;
    margin-left: 847px;
    gap: 10px;
    background-color: #333333;
    color: white;
    border: 1px solid black;
}

.photo-low-button p{
    font-weight: 500px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.main-yozuvlar{
    width: 920px;
    height: 296px;
    margin-top: 150px;
    margin-left: 500px;
    display: flex;
}

.main-yozuv-child1{
    width: 540px;
    height: 240px;
}

.main-yozuvlar-child2{
    width: 227px;
    height: 296px;
    margin-left: 143px;
}


/* main-description2---------------------------------- */

.main-description2{
    width: 1920px;
    height: 478px;
    margin: 0 auto;
    background-image: url(../images/main-bg.jpg);
    margin-top: 120px;
}

.main-description2-p1{
    text-align: center;
    padding-top: 100px;
    color: white;
    font-weight: 400px;
    font-size: 21px;
    font-family: "Roboto", sans-serif;
}

.main-description2 h2{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 700;
    font-family: "Noto Serif";
    padding-top: 15px;
}



.main-description2-formas{

    color: white;
    height: 105px;
    margin-top: 63px;
    margin-left: 500px;
    display: flex;
    gap: 120px;
}

.main-description2-formas-child p{
    width: 250px;
    height: 25px;
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    color: white;
    padding-top: 5px;
    font-family: "Roboto", sans-serif;
}

.main-description2-formas-child{
    display: flex;
    gap: 13px;
    text-align: center;
    gap: 13px;
    margin-top: 9px;
}

.main-description2-formas-child img{
    width: 17px;
    height: 17px;
    text-align: center;
    justify-content: center;
    padding-top: 7px;
}

.main-description2-forma{
    width: 448px;
    height: 113px;
    margin-top: 60px;
    border: 1px solid white;
    text-align: center;
    justify-content: center;
}
