@import url(header.css);
@import url(main1.css);
@import url(footer.css);

*{
    margin: 0px;
    padding: 0px;
    background-origin: padding-box;
}

body{
    width: 100%;
    height: 100%;
}

