.header{
    background-color: #DE8704;
    color: #e9ef2d;
    text-align: left;
    height: 40px;
    margin: 40px 30% 0 30%;
    
}

.main{
    background-color:#222536;
    margin: 0  30% 0 30%;
    color: #e9ef2d;
    
}

.form{
    margin: 20px;
}

.label{
    margin:     0px 20px 20px 20px;
    text-align: center;

}

.date{
    display: flex;
    gap: 15px;
    margin: 0 0 60px 127px;

}

.selectData{
    display: flex;
    width: 165px;
    margin: 0px 10px 10px 20px;
}

.Month{
    margin: 0px 10px 0px 20px;
}

