*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.box1{
    margin-left: 20%;
    margin-top: 40px;
    width: 400px;
}

.boximg{
    margin-left: 26%;
}

.box1 h2{
    margin-left: 40px;
}

.boximg{
    margin-left: 26%;
}

.box1 h3{
    margin-left: 130px;
}




.box2{
    margin-top: 49px;
    width: 400px;


}

.box3{  
    margin-right: 20%;
    margin-top: 49px;

    width: 410px;
    text-align: center;

}


.main2{
    display: flex;
}

.main3{
    background-image: url(photo_2024-03-21_09-01-06.jpg);
    width: 1400px;
    height: 190px;
    margin-top: 40px;
}