*{
    margin: 0;
    padding: 0;
    background-origin: padding-box;
}

.main{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    gap: 20px;
}

.ishora{
    margin-left: 50px;
    margin-top: 20px;
    
}

.ishora button{
    width: 45px;
    height: 25px;
}

